/* Styles for Helen V. Holmes' portfolio
   Using the HTML5 Boilerplate template  */


/* Helen! Remember to minimize this shiznat */


/* Reset CSS */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* Body styles */
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family:'Helvetica Light',helvetica,sans-serif; font-weight: 100; }
body { margin: 0; font-size: .75em; line-height: 1.4;background-image:url(../img/bg.png); background-repeat:repeat; }


/* Selection colors */
::-moz-selection { background: #cc0554; color: #fff; text-shadow: none; }
::selection { background: #cc0554; color: #fff; text-shadow: none; }


/* Link styles */ 
a { color: black; text-decoration: none;}
a:visited { color: #333333; text-decoration: none; }
a:hover { color: #333333; text-decoration: underline; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }


/* I'm probably not going to use these, but who knows */
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* Styles for ordered/unordered lists */
/*ul, ol { margin: 1em 0; padding: 0 0 0 10px; } */
li { font-size: 1em; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* Styles for images + svg (might delete as well) */
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }


/* Styles for forms */
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }



/* Styles for tables */ 
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }




/* Prompt for people to get off IE6 already */
.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* Header styles */

.header {
  width: 100%;
  background-color: white;
  height: 100px;
  margin: 0;
  padding: 0;
}

.header .container {
  width: 80%;
  margin: auto;
}

.header h1 {
  float: left;
  margin: 0;
  font-weight: inherit;
  bottom: 0;
  margin-top: 65px;
}

h1 ul#filterOptions{
  margin:0;
  padding:0;
}

h1 ul#filterOptions li {
  margin:0;
  padding:0;
  list-style-type:none;
}

.header .nav {
  float:right;
  margin-top: 60px;
  font-size: 1em;
}

.header .nav ul li {
  float: left;
  margin-left:20px;
  padding:0;
  list-style-type: none;
  font-size: 1.3em;
}

.email {
  margin-top:1%;
  margin-right: 5%;
  float:right;
  clear:both;
}

.email img:hover {
  transform:rotate(-10deg);
  -ms-transform:rotate(-10deg); /* IE 9 */
  -moz-transform:rotate(-10deg); /* Firefox */
  -webkit-transform:rotate(-10deg); /* Safari and Chrome */
  -o-transform:rotate(-10deg); /* Opera */
}










/* Contact styles */

.contact {
  width:100%;
  height:400px;
  padding-bottom:2%;
  color:black;
  background-color:white;
  font-weight:inherit;
  display:none;
  z-index:70;
}

.contact .container {
  width: 80%;
  margin: auto;
  padding-top: 3%;
}

.contact .about {
  width: 42%;
  float: left;
  margin:0;
  padding:0;
  padding-right:10%;
}

.contact .about img {
  float: left;
}

.contact .form {
  float: right;
  margin:0;
  padding:0;
}

.close {
  clear:both;
  font-size:1.5em;
  float:right;
  margin-top:2%;
}





/* Form styles */

label {
  clear:both;
  display: block;
  font-weight: inherit;
  margin-top:3%;

 }
 
 .error{color:red;}
 
 #form_producer input[type="text"], .contact-me input[type="email"] {
  float:left;
  clear:both;
  margin:0;
  margin-bottom:5%;
  width:400px;
  height:24px;
  border: 1px #ccc solid;
  color:#8a8989;
  background:#f9f9f9;
    -moz-box-shadow: 0 -1px 0 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 -1px 0 0px rgba(0,0,0,0.1);
    box-shadow: 0 -1px 0 0px rgba(0,0,0,0.1); 
 }
 
 #form_producer textarea{
  float:left;
  clear:both;
  margin:0;
  padding:0;
  padding-top:5px;
  padding-bottom:5px;
  width:400px;
  height:90px;
  border: 1px #ccc solid;
  color:#8a8989;
  background:#f9f9f9;
    -moz-box-shadow: 0 -1px 0 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 -1px 0 0px rgba(0,0,0,0.1);
    box-shadow: 0 -1px 0 0px rgba(0,0,0,0.1); 
 }
 
 .button{
  float:right;
  margin-top:5%;
  clear:both;
  background-color:#ebe9e9;
  border:solid 1px #ebe9e9;
  width:140px;
  height:30px;
  font-size: 0.9em;
  letter-spacing:1px;
    background-image: linear-gradient(top, rgb(241,241,241) 50%, rgb(235,233,233) 50%);
    background-image: -o-linear-gradient(top, rgb(241,241,241) 50%, rgb(235,233,233) 50%);
    background-image: -moz-linear-gradient(top, rgb(241,241,241) 50%, rgb(235,233,233) 50%);
    background-image: -webkit-linear-gradient(top, rgb(241,241,241) 50%, rgb(235,233,233) 50%);
    background-image: -ms-linear-gradient(top, rgb(241,241,241) 50%, rgb(235,233,233) 50%);
    
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.5, rgb(241,241,241)),
      color-stop(0.5, rgb(235,233,233))
    );
 }
 
  .button:hover{
    opacity: 0.8;
  }
 
    .button:active{
      opacity: 0.4;
    }








/* Styles for boxes */
.main {
  width: 85%;
  margin-left:10%;
  margin-top: 5%;
  padding: 0;
}

.main ul {
  margin:0;
  padding:0;
}

.main ul li.width {
  background-color: white;
  width: 20%;
  height:auto;
  float: left;
  margin-right:1%;
  margin-bottom:1%;
  list-style-type: none;
  -moz-box-shadow: 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px #ccc;
  box-shadow: 1px 1px 1px #ccc;
}

/*
.main ul li.columnright {
  background-color: white;
  width: 20%;
  float: right;
  padding: 1%;
  margin-bottom: 7%;
  list-style-type: none;
  -moz-box-shadow: 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px #ccc;
  box-shadow: 1px 1px 1px #ccc;
}
*/

.main ul li img {
  margin: auto;
  width: 100%;
  margin-bottom: 4%;
}

.noshow {
  display:none;
}

.project {
  z-index:2;
}

.webdesign {

}

.printdesign {

}

.webdevelopment {

}

.sideprojects {

}

.project h1 {
  font-size: 14px;
  font-weight:inherit;
  margin: 0;
  margin-top: 10%;
  margin-bottom:4%;
}

.tags {
  float: right;
  margin: 3%;
  width:100%;
}

.clear {
  clear: both;
}

.tags ul {
  margin: 0;
  clear: both;
  width:100%;
}

.tags ul li {
  font-size: 85%;
  color: #ccc;
  list-style-type: none;
  float: right;
  margin-left:10px;
  -moz-box-shadow: 0px 0px 0px #ccc;
  -webkit-box-shadow: 0px 0px 0px #ccc;
  box-shadow: 0px 0px 0px #ccc;
}

.tags ul#filterOptions li a {
  color:#ccc;
  text-decoration:none;
}

.tags ul#filterOptions li a:hover {
  color:#ccc;
  text-decoration:underline;
}


















/* Re-sizing whatnot */
@media only screen and (min-width: 35em) {
  

}

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
